body {
	background-image: url("/img/background.avif");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.header__container {
	background: #9dc0c9;
}

.logo__tagline {
	font-size: 0.9rem;
}

.menu__list {
	background: #376879;
}

.btn {
	background: #376879;
}

.content a {
	color: #508402;
}

.widget-sidemenu a {
	color: #508402;
}
